@page
@model razorpages.Pages.AboutMeModel
@{
    ViewData["Title"] = "Over mij pagina";
}
<h1 class="alignLeft">Over mij</h1>

<article>
    <div class="maxHeight">
        <figure>
            <img alt="My  wife, son, daughter and me in Amsterdam" src="~/image/familie.jpg" />
            <figcaption>Being happy in Amsterdam</figcaption>
        </figure>
    </div>
    <div>
        <h2>My Family is the best</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Pellentesque habitant morbi tristique senectus et. Sapien
            faucibus et molestie ac feugiat sed. Purus non enim praesent elementum facilisis. Pretium aenean
            pharetra magna ac placerat vestibulum lectus mauris ultrices. Lobortis mattis aliquam faucibus
            purus in massa tempor nec feugiat. At erat pellentesque adipiscing commodo elit at imperdiet dui.
            Quis ipsum suspendisse ultrices gravida dictum fusce ut placerat. Nibh nisl condimentum id venenatis a.
            Feugiat pretium nibh ipsum consequat nisl vel pretium lectus. Nullam ac tortor vitae purus
            faucibus ornare suspendisse. Et tortor consequat id porta nibh venenatis cras sed.
        </p>
    </div>
</article>
<article>
    <div>
        <h2>Walking to forget and connect</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Pellentesque habitant morbi tristique senectus et. Sapien
            faucibus et molestie ac feugiat sed. Purus non enim praesent elementum facilisis. Pretium aenean
            pharetra magna ac placerat vestibulum lectus mauris ultrices. Lobortis mattis aliquam faucibus
            purus in massa tempor nec feugiat. At erat pellentesque adipiscing commodo elit at imperdiet dui.
            Quis ipsum suspendisse ultrices gravida dictum fusce ut placerat. Nibh nisl condimentum id venenatis a.
            Feugiat pretium nibh ipsum consequat nisl vel pretium lectus. Nullam ac tortor vitae purus

        </p>
    </div>
    <div class="maxHeight">
        <figure>
            <img alt="Me, my wife and our dog Aina" src="~/image/dogwalking2.jpg" />
            <figcaption>Taking Aina out for a walk</figcaption>
        </figure>
    </div>
</article>
<article>
    <div class="maxHeight">
        <figure>
            <img alt="Me running at the Sterke Peer Triathlon" src="~/image/triathlon.jpg" />
            <figcaption>Running at the Sterke Peer Triathon</figcaption>
        </figure>
    </div>
    <div>
        <h2>Mens sana in corpore sano</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Pellentesque habitant morbi tristique senectus et. Sapien
            faucibus et molestie ac feugiat sed. Purus non enim praesent elementum facilisis. Pretium aenean
            pharetra magna ac placerat vestibulum lectus mauris ultrices. Lobortis mattis aliquam faucibus
            purus in massa tempor nec feugiat. At erat pellentesque adipiscing commodo elit at imperdiet dui.
            Quis ipsum suspendisse ultrices gravida dictum fusce ut placerat. Nibh nisl condimentum id venenatis a.
            Feugiat pretium nibh ipsum consequat nisl vel pretium lectus. Nullam ac tortor vitae purus
            faucibus ornare suspendisse. Et tortor consequat id porta nibh venenatis cras sed.
        </p>
    </div>
</article>
<article>
    <div>
        <h2>Work, work, work</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Pellentesque habitant morbi tristique senectus et. Sapien
            faucibus et molestie ac feugiat sed. Purus non enim praesent elementum facilisis. Pretium aenean
            pharetra magna ac placerat vestibulum lectus mauris ultrices. Lobortis mattis aliquam faucibus

        </p>
    </div>
    <div class="maxHeight">
        <figure>
            <img alt="Me at work in my uniform" src="~/image/work.jpeg" />
            <figcaption>Me at work</figcaption>
        </figure>
    </div>
</article>
<article>
    <div class="maxHeight">
        <figure>
            <img alt="Me and my wife getting ready to party" src="~/image/goingout.jpg" />
            <figcaption>Getting ready to party</figcaption>
        </figure>
    </div>
    <div >
        <h2>Work hard, play hard</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Pellentesque habitant morbi tristique senectus et. Sapien
            faucibus et molestie ac feugiat sed. Purus non enim praesent elementum facilisis. Pretium aenean
            pharetra magna ac placerat vestibulum lectus mauris ultrices. Lobortis mattis aliquam faucibus
            purus in massa tempor nec feugiat. At erat pellentesque adipiscing commodo elit at imperdiet dui.
            Quis ipsum suspendisse ultrices gravida dictum fusce ut placerat. Nibh nisl condimentum id venenatis a.
            Feugiat pretium nibh ipsum consequat nisl vel pretium lectus. Nullam ac tortor vitae purus
            faucibus ornare suspendisse. Et tortor consequat id porta nibh venenatis cras sed.
        </p>
    </div>
</article>