@page
@model razorpages.Pages.AboutMeModel
@{
    ViewData["Title"] = "Over mij pagina";
}
<h1>Over mij</h1>
<figure>
    <img alt="Pasfoto van Jef Inghelbrecht" src="~/image/profielfoto.jpg"/>
    <figcaption>
        <p>Jef Inghelbrecht</p>
        <p>1984 - 1987: Artsenkrant</p>
        <p>1987 - 1998: Medimedia Singapore</p>
    </figcaption>
</figure>
<figure>
    <img alt="Mijn eerste microcomputer de Kaypro 10" src="~/image/Mijn eerste microcomputer de kaypro10.jpg" />
    <figcaption>De Kaypro 10 microcomputer</figcaption>
</figure>
<p>
    Mijn eerste job bestond erin de database van de abonnees te migreren van een mainframe naar pc.
    Het bedrijf dat de database op de mainframe beheerde weigerde de gegevens in pc-formaat over te
    dragen aan het bedrijf waarvoor ik werkte. Het was echter niet moeilijk om die gegevens te krijgen.
    In het bedrijf waar ik werkte stond een seriële printer waarmee etiketten en lijsten werden afgedrukt.
    Het volstond om die output via een modem af te tappen naar een pc. Ik had mijn eerste loonopslag
    en bonus te pakken! De modem die ik gebruikte was een Hayes modem en de pc was eigenlijk nog
    geen pc maar een Kaypro microcomputer.
</p>

<figure>
    <img alt="De eerste Hayes Modem" src="~/image/De eerste hayes modem.jpg" />
    <figcaption>De eerste Hayes modem</figcaption>
</figure>
<p>
    De ervaring met de Hayes modem bracht me tot het realiseren van een tweede project. In die tijd stuurden de
    journalisten per taxi hun teksten op floppy’s naar de redactie. In de receptie was het een komen en
    gaan van taxichauffeurs. Ik zorgde ervoor dat de journalisten hun kopij via de modem naar de redactie konden sturen.
    In een derde project maakte ik een sjabloon voor het intypen van tekst. De opmaakt werd automatisch omgezet naar SGML,
    de voorloper van HTML.
</p>

<p>
    In een ander project zetten we een snel-nieuwsdienst op voor beursberichten.
    Abonnees kregen elke halve dag belangrijk beursnieuws via de fax.
    Al die projecten dateren van 1984-1987.
</p>

<figure>
    <img alt="Office in Singapore in Cecilstraat" src="~/image/Office in Singapore in Cecilstreet.png" />
    <figcaption>Office in Singapore in Cecilstreet</figcaption>
</figure><p>
    De kennis van de Hayes technologie opende een wereld van mogelijkheden.
    In 1981 introduceerde DC Hayes Associates de baanbrekende Hayes Stack Smartmodem. De 300-baud modem
    was de eerste modem met een eigen commando set doe terecht een industriestandaard is geworden.
    Door een reeks van ASCII-strings naar de modem te verzenden via de RS-232 seriële poort, konden gebruikers
    de modem initialiseren, automatisch bellen, antwoorden, ophangen, en nog veel meer. Daarvoor moesten de meeste
    gebruikers handmatig een telefoonnummer ingeven (toen nog draaien), eb als er verbinding was de modem
    handmatig aansluiten.
</p>