@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Welkom op de Programmeren 3 website!</h1>
    <p>Alle leerstof staat op <a href="https://modernways.be/myap/it/school/course/Programmeren%203.html">Programmeren 3</a>.</p>
</div>
