@page
@model BiblioAdmin.Pages.ShippingMethod.IndexModel
@{
}

<section>
    <h1>Shipping Methods</h1>

    <a href="/ShippingMethod/InsertingOne" class="tile">
        <span class="icon-plus"></span>
        <span class="screen-reader-text">Inserting One</span>
    </a>

</section>
<partial name="ShippingMethod/_ReadingAll" model="Model.ShippingMethodList" />