@page
@model BiblioAdmin.Pages.ShippingMethod.IndexModel
@{
}


<section>
    <div class="navSection">
        <h1>Shipping method overview</h1>

        <a href="/ShippingMethod/InsertingOne" class="linkAsButton">
            Insert shipping method
        </a>
    </div>
</section>
<partial name="ShippingMethod/_ReadingAll" model="Model.ShippingMethodList" />