@page
@model BiblioAdmin.Pages.ShippingMethod.IndexModel
@{
}


<h1>Shipping Methods</h1>

<a href="/ShippingMethod/InsertingOne" class="tile">
    <span class="icon-plus"></span>
    <span class="screen-reader-text">Inserting One</span>
</a>

<partial name="OrderStatus/_ReadingAll" model="Model.ShippingMethodList" />