@page
@model BiblioAdmin.Pages.ShippingMethod.InsertingOneModel
@{
}

<section>
    <div class="navSection">
        <h1>Insert shipping method</h1>
        <div class="linksNavigatie">
            <button form="inputShippingMethod" type="submit" value="Insert" asp-page-handler="Insert">Insert</button>
            <a class="linkAsButton" href="/ShippingMethod/Index">
                Cancel
            </a>
        </div>
    </div>
    <form method="post" id="inputShippingMethod">
        <fieldset>
            <div>
                <label asp-for="ShippingMethod.Name"></label>
                <input asp-for="ShippingMethod.Name" required="required" />
                <span class="alert-danger" asp-validation-for="ShippingMethod.Name"></span>
            </div>
            <div>
                <label asp-for="ShippingMethod.Description"></label>
                <input asp-for="ShippingMethod.Description" required="required" />
                <span class="alert-danger" asp-validation-for="ShippingMethod.Description"></span>
            </div>
            <div>
                <label asp-for="ShippingMethod.Price"></label>
                <input asp-for="ShippingMethod.Price" required="required" />
                <span class="alert-danger" asp-validation-for="ShippingMethod.Price"></span>
            </div>

        </fieldset>
        @*<div>
            <button type="submit" value="Insert" asp-page-handler="Insert">Insert</button>
        </div>*@
    </form>
</section>
<partial name="ShippingMethod/_ReadingAll" model="Model.ShippingMethodList" />