@page
@model BiblioAdmin.Pages.ShippingMethod.InsertingOneModel
@{
}

<section>
    <div class="navSection">
        <h1>Insert shipping method</h1>
        <div class="linksNavigatie">
            <button form="inputShippingMethod" type="submit" value="Insert" asp-page-handler="Insert">Insert</button>
            <a class="linkAsButton" href="/ShippingMethod/Index">
                Cancel
            </a>
        </div>
    </div>
    <form method="post" id="inputShippingMethod">
        <fieldset>
            <div class="row">
                <div class="col-25">
                    <label asp-for="ShippingMethod.Name"></label>
                </div>
                <div class="col-75">
                    <input asp-for="ShippingMethod.Name" required="required" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="ShippingMethod.Description"></label>
                </div>
                <div class="col-75">
                    <input asp-for="ShippingMethod.Description" required="required" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="ShippingMethod.Price"></label>
                </div>
                <div class="col-75">
                    <input asp-for="ShippingMethod.Price" required="required" onkeypress="return isNumberKeyDecimal(event)"/>
                </div>
            </div>
        </fieldset>
    </form>
</section>
<partial name="ShippingMethod/_ReadingAll" model="Model.ShippingMethodList" />