@page "{id}"
@model BiblioAdmin.Pages.ShippingMethod.ReadingOneModel
@{
}

<h1>ShippingMethod ReadingOne</h1>
<nav class="control-panel">
    <a href="/Index">
        <span>Hier komt het logo</span>
    </a>
    <h1 class="banner">Biblio Admin</h1>
</nav>
<div class="show-room entity">
    <partial name="OrderStatus/_ReadingAll" model="Model.ShippingMethodList" />
</div>
