@page "{id}"
@model BiblioAdmin.Pages.ShippingMethod.UpdatingOneModel
@{
}


<section>
    <div class="navSection">
        <h1>Update shipping method</h1>
        <div class="linksNavigatie">
            <button form="updateShippingMethod" type="submit" value="Update" asp-page-handler="Update">Update</button>
            <a class="linkAsButton" href="/ShippingMethod/Index">
                Cancel
            </a>
        </div>
    </div>
    <form method="post" id="updateShippingMethod">
        <fieldset>
            <div class="row">
                <div class="col-25">
                    <label for="ShippingMethod-Id">Id</label>
                </div>
                <div class="col-75">
                    <input asp-for="ShippingMethod.Id" readonly=" @(true)">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="ShippingMethod.Name"></label>
                </div>
                <div class="col-75">
                    <input asp-for="ShippingMethod.Name" required="required" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="ShippingMethod.Description"></label>
                </div>
                <div class="col-75">
                    <input asp-for="ShippingMethod.Description" required="required" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="ShippingMethod.Price"></label>
                </div>
                <div class="col-75">
                    <input asp-for="ShippingMethod.Price" required="required" />
                    <span class="alert-danger" asp-validation-for="ShippingMethod.Price"></span>
                </div>
            </div>
        </fieldset>
    </form>
</section>
<partial name="ShippingMethod/_ReadingAll" model="Model.ShippingMethodList" />