@page "{id}"
@model BiblioAdmin.Pages.ShippingMethod.UpdatingOneModel
@{
}


<section>
    <div class="navSection">
        <h1>Update shipping method</h1>
        <div class="linksNavigatie">
            <button form="updateShippingMethod" type="submit" value="Update" asp-page-handler="Update">Update</button>
            <a class="linkAsButton" href="/ShippingMethod/Index">
                Cancel
            </a>
        </div>
    </div>
    <form method="post" id="updateShippingMethod">
        <fieldset>
            <div>
                <label asp-for="ShippingMethod.Id"></label>
                <input asp-for="ShippingMethod.Id" readonly=" @(true)" />
            </div>
            <div>
                <label asp-for="ShippingMethod.Name"></label>
                <input asp-for="ShippingMethod.Name" />
                <span class="alert-danger" asp-validation-for="ShippingMethod.Name"></span>
            </div>
            <div>
                <label asp-for="ShippingMethod.Description"></label>
                <input asp-for="ShippingMethod.Description" />
                <span class="alert-danger" asp-validation-for="ShippingMethod.Description"></span>
            </div>
            <div>
                <label asp-for="ShippingMethod.Price"></label>
                <input asp-for="ShippingMethod.Price" />
                <span class="alert-danger" asp-validation-for="ShippingMethod.Price"></span>
            </div>

        </fieldset>
        <div>
            <button type="submit" value="Update" asp-page-handler="Update">Update</button>
        </div>
    </form>
</section>
<partial name="ShippingMethod/_ReadingAll" model="Model.ShippingMethodList" />