@page
@model BiblioAdmin.Pages.Customer.IndexModel
@{
    ViewData["Title"] = "Customer - Index";
}


<section>
    <div class="navSection">
        <h1>Customer Overview</h1>

        <a href="/Customer/InsertingOne" class="linkAsButton">
            Insert customer
        </a>
    </div>
</section>
<partial name="Customer/_ReadingAll" model="Model.CustomerList" />
