@page "{id}"
@model BiblioAdmin.Pages.Customer.UpdatingOneModel
@{
}

<section>
    <div class="navSection">
        <h1>Update book</h1>
        <div class="linksNavigatie">
            <button form="updateCustomer" type="submit" value="Update" asp-page-handler="Update">Update</button>
            <a class="linkAsButton" href="/Customer/Index">
                Cancel
            </a>
        </div>
    </div>

    <form method="post" id="updateCustomer">
        <fieldset>
            <div>
                <label asp-for="Customer.Id"></label>
                <input asp-for="Customer.Id" readonly=" @(true)" />

            </div>
            <div>
                <label asp-for="Customer.FirstName"></label>
                <input asp-for="Customer.FirstName" required="required" />
                <span class="alert-danger" asp-validation-for="Customer.FirstName"></span>
            </div>
            <div>
                <label asp-for="Customer.LastName"></label>
                <input asp-for="Customer.LastName" required="required" />
                <span class="alert-danger" asp-validation-for="Customer.LastName"></span>
            </div>
            <div>
                <label asp-for="Customer.Email"></label>
                <input asp-for="Customer.Email" required="required" />
                <span class="alert-danger" asp-validation-for="Customer.Email"></span>
            </div>
            <div>
                <label asp-for="Customer.Address"></label>
                <input asp-for="Customer.Address" required="required" />
                <span class="alert-danger" asp-validation-for="Customer.Address"></span>
            </div>
            <div>
                <label asp-for="Customer.City"></label>
                <input asp-for="Customer.City" required="required" />
                <span class="alert-danger" asp-validation-for="Customer.City"></span>
            </div>
            <div>
                <label asp-for="Customer.PostalCode"></label>
                <input asp-for="Customer.PostalCode" required="required" />
                <span class="alert-danger" asp-validation-for="Customer.PostalCode"></span>
            </div>
            <div>
                <label asp-for="Customer.Country"></label>
                <input asp-for="Customer.Country" />
                <span class="alert-danger" asp-validation-for="Customer.Country"></span>
            </div>
            <div>
                <label asp-for="Customer.Phone"></label>
                <input asp-for="Customer.Phone" />
                <span class="alert-danger" asp-validation-for="Customer.Phone"></span>
            </div>
        </fieldset>
        @*<div>
            <button type="submit" value="Update" asp-page-handler="Insert">Insert</button>
        </div>*@
    </form>
</section>
<partial name="Customer/_ReadingAll" model="Model.CustomerList" />