@page "{id}"
@model BiblioAdmin.Pages.Customer.UpdatingOneModel
@{
    ViewData["Title"] = "Customer - Update";
}

<section>
    <div class="navSection">
        <h1>Update book</h1>
        <div class="linksNavigatie">
            <button form="updateCustomer" type="submit" value="Update" asp-page-handler="Update">Update</button>
            <a class="linkAsButton" href="/Customer/Index">
                Cancel
            </a>
        </div>
    </div>

    <form method="post" id="updateCustomer">
        <fieldset>
            <div class="row">
                <div class="col-25">
                    <label for="Customer-Id">Id</label>
                </div>
                <div class="col-75">
                    <input asp-for="Customer.Id" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Customer.FirstName">Voornaam *</label>
                </div>
                <div class="col-75">
                    <input asp-for="Customer.FirstName" required="required" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Customer.LastName">Familienaam *</label>
                </div>
                <div class="col-75">
                    <input asp-for="Customer.LastName" required="required" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Customer.Email">E-mail *</label>
                </div>
                <div class="col-75">
                    <input asp-for="Customer.Email" required="required" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Customer.Address">Adres</label>
                </div>
                <div class="col-75">
                    <input asp-for="Customer.Address" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Customer.City">Stad *</label>
                </div>
                <div class="col-75">
                    <input asp-for="Customer.City" required="required" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Customer.PostalCode">Postcode</label>
                </div>
                <div class="col-75">
                    <input asp-for="Customer.PostalCode" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Customer.Country">Land</label>
                </div>
                <div class="col-75">
                    <input asp-for="Customer.Country" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Customer.Phone">Telefoon</label>
                </div>
                <div class="col-75">
                    <input asp-for="Customer.Phone" />
                </div>
            </div>
        </fieldset>
    </form>
</section>
<partial name="Customer/_ReadingAll" model="Model.CustomerList" />