@page "{id}"
@model BiblioAdmin.Pages.Customer.UpdatingOneModel
@{
}

<section>
    <h3>Updating Customer</h3>

    <form method="post">
        <fieldset>
            <div>
                <label asp-for="Customer.Id"></label>
                <input asp-for="Customer.Id" readonly=" @(true)" />
                <span class="alert-danger" asp-validation-for="Customer.Id"></span>
            </div>
            <div>
                <label asp-for="Customer.FirstName"></label>
                <input asp-for="Customer.FirstName" required="required" />
                <span class="alert-danger" asp-validation-for="Customer.Id"></span>
            </div>
            <div>
                <label asp-for="Customer.LastName"></label>
                <input asp-for="Customer.LastName" required="required" />
                <span class="alert-danger" asp-validation-for="Customer.LastName"></span>
            </div>
            <div>
                <label asp-for="Customer.Address"></label>
                <input asp-for="Customer.Address" required="required" />
                <span class="alert-danger" asp-validation-for="Customer.Address"></span>
            </div>
            <div>
                <label asp-for="Customer.City"></label>
                <input asp-for="Customer.City" required="required" />
                <span class="alert-danger" asp-validation-for="Customer.City"></span>
            </div>
            <div>
                <label asp-for="Customer.PostalCode"></label>
                <input asp-for="Customer.PostalCode" required="required" />
                <span class="alert-danger" asp-validation-for="Customer.PostalCode"></span>
            </div>
            <div>
                <label asp-for="Customer.Country"></label>
                <input asp-for="Customer.Country" />
                <span class="alert-danger" asp-validation-for="Customer.Country"></span>
            </div>
            <div>
                <label asp-for="Customer.Phone"></label>
                <input asp-for="Customer.Phone" />
                <span class="alert-danger" asp-validation-for="Customer.Phone"></span>
            </div>
        </fieldset>
        <div>
            <button type="submit" value="Update" asp-page-handler="Update">Update</button>
        </div>
    </form>
</section>
<partial name="Customer/_ReadingAll" model="Model.CustomerList" />