@page
@model BiblioAdmin.Pages.Book.IndexModel
@{
}

<section>
    <div class="navSection">
        <h1>Book Overview</h1>

        <a href="/Book/InsertingOne" class="linkAsButton">
            Insert book
        </a>
    </div>
</section>
<partial name="Book/_ReadingAll" model="Model.BookList" />