@page
@model BiblioAdmin.Pages.Book.IndexModel
@{
}

<section>
    <h1>Books Overview</h1>

    <a href="/Book/InsertingOne" class="linkAsButton">
        Insert book
    </a>
</section>
<partial name="Book/_ReadingAll" model="Model.BookList" />