@page
@model BiblioAdmin.Pages.Book.IndexModel
@{
}


<h1>Books Overview</h1>

<a href="/Book/InsertingOne" class="tile">
    <span class="icon-plus"></span>
    <span class="screen-reader-text">Inserting One</span>
</a>

<partial name="Book/_ReadingAll" model="Model.BookList" />