@page "{id}"
@model BiblioAdmin.Pages.Book.UpdatingOneModel
@{
}

<h3>Updating Book</h3>
<hr />
<br />
<form method="post">
    <fieldset>
        <div>
            <label asp-for="Book.Id"></label>
            <input asp-for="Book.Id" readonly=" @(true)" />
        </div>
        <div>
            <label asp-for="Book.Author"></label>
            <input asp-for="Book.Author" required = "required"  />
            <span class="alert-danger" asp-validation-for="Book.Author"></span>
        </div>
        <div>
            <label asp-for="Book.Title"></label>
            <input asp-for="Book.Title" required = "required" />
            <span class="alert-danger" asp-validation-for="Book.Title"></span>
        </div>
        <div>
            <label asp-for="Book.ImageUrl"></label>
            <input asp-for="Book.ImageUrl"  />
            <span class="alert-danger" asp-validation-for="Book.ImageUrl"></span>
        </div>
        <div>
            <label asp-for="Book.Subtitle"></label>
            <input asp-for="Book.Subtitle" />
            <span class="alert-danger" asp-validation-for="Book.Subtitle"></span>
        </div>
        <div>
            <label asp-for="Book.PublicationDate"></label>
            <input asp-for="Book.PublicationDate" />
            <span class="alert-danger" asp-validation-for="Book.PublicationDate"></span>
        </div>
        <div>
            <label asp-for="Book.Publisher"></label>
            <input asp-for="Book.Publisher" />
            <span class="alert-danger" asp-validation-for="Book.Publisher"></span>
        </div>
        <div>
            <label asp-for="Book.Category"></label>
            <input asp-for="Book.Category" />
            <span class="alert-danger" asp-validation-for="Book.Category"></span>
        </div>
        <div>
            <label asp-for="Book.Price"></label>
            <input asp-for="Book.Price" />
            <span class="alert-danger" asp-validation-for="Book.Price"></span>
        </div>
        <div>
            <label asp-for="Book.Size"></label>
            <input asp-for="Book.Size" />
            <span class="alert-danger" asp-validation-for="Book.Size"></span>
        </div>
        <div>
            <label asp-for="Book.NumberOfPages"></label>
            <input asp-for="Book.NumberOfPages" />
            <span class="alert-danger" asp-validation-for="Book.NumberOfPages"></span>
        </div>
        <div>
            <label asp-for="Book.Language"></label>
            <input asp-for="Book.Language" />
            <span class="alert-danger" asp-validation-for="Book.Language"></span>
        </div>
        <div>
            <label asp-for="Book.ProductCode"></label>
            <input asp-for="Book.ProductCode" />
            <span class="alert-danger" asp-validation-for="Book.ProductCode"></span>
        </div>
        <div>
            <label asp-for="Book.ProductType"></label>
            <input asp-for="Book.ProductType" />
            <span class="alert-danger" asp-validation-for="Book.ProductType"></span>
        </div>
        <div>
            <label asp-for="Book.ProductTypeFull"></label>
            <input asp-for="Book.ProductTypeFull" />
            <span class="alert-danger" asp-validation-for="Book.ProductTypeFull"></span>
        </div>
        <div>
            <label asp-for="Book.Description"></label>
            <input asp-for="Book.Description" />
            <span class="alert-danger" asp-validation-for="Book.Description"></span>
        </div>
    </fieldset>
    <div>
        <button type="submit" value="Update" asp-page-handler="Update">Update</button>
    </div>
</form>

<partial name="Book/_ReadingAll" model="Model.BookList" />