@page "{id}"
@model BiblioAdmin.Pages.Book.UpdatingOneModel
@{
}


<section>
    <div class="navSection">
        <h1>Update book</h1>
        <div class="linksNavigatie">
            <button form="updateBook" type="submit" value="Update" asp-page-handler="Update">Update</button>
            <a class="linkAsButton" href="/Book/Index">
                Cancel
            </a>
        </div>
    </div>
    <form method="post" id="updateBook">
        <fieldset>
            <div class="row">
                <div class="col-25">
                    <label for="Book-Id">Id</label>
                </div>
                <div class="col-75">
                    <input asp-for="Book.Id" readonly=" @(true)" >
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Book.Author">Auteur *</label>
                </div>
                <div class="col-75">
                    <input asp-for="Book.Author" required="required" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Book.Title">Titel *</label>
                </div>
                <div class="col-75">
                    <input asp-for="Book.Title" required="required" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Book.ImageUrl">FotoURL</label>
                </div>
                <div class="col-75">
                    <input asp-for="Book.ImageUrl" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Book.Subtitle">Ondertitel</label>
                </div>
                <div class="col-75">
                    <input asp-for="Book.Subtitle" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Book.PublicationDate">Publicatie datum</label>
                </div>
                <div class="col-75">
                    <input asp-for="Book.PublicationDate" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Book.Publisher">Uitgever</label>
                </div>
                <div class="col-75">
                    <input asp-for="Book.Publisher" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Book.Category">Categorie</label>
                </div>
                <div class="col-75">
                    <input asp-for="Book.Category" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Book.Price">Prijs</label>
                </div>
                <div class="col-75">
                    <input asp-for="Book.Price" onkeypress="return isNumberKeyDecimal(event)"/>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Book.Size">Afmeting</label>
                </div>
                <div class="col-75">
                    <input asp-for="Book.Size" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Book.NumberOfPages">Aantal pagina's</label>
                </div>
                <div class="col-75">
                    <input asp-for="Book.NumberOfPages" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Book.Language">Taal</label>
                </div>
                <div class="col-75">
                    <input asp-for="Book.Language" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Book.ProductCode">ISBN</label>
                </div>
                <div class="col-75">
                    <input asp-for="Book.ProductCode" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Book.ProductType">Producttype</label>
                </div>
                <div class="col-75">
                    <input asp-for="Book.ProductType" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Book.ProductTypeFull">Producttype volledig</label>
                </div>
                <div class="col-75">
                    <input asp-for="Book.ProductTypeFull" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Book.Description">Omschrijving</label>
                </div>
                <div class="col-75">
                    <textarea asp-for="Book.Description"></textarea>
                </div>
            </div>
        </fieldset>
    </form>
</section>
<partial name="Book/_ReadingAll" model="Model.BookList" />