@model List<Bll.OrderItem>
@{
}



<aside >
    <table>
        <thead>
            <tr>
                <th>
                    Select
                </th>
                <th>
                    Id
                </th>
                <th>
                    Book
                </th>
                <th>
                    Order nummer
                </th>
                <th>
                    Hoeveelheid
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="select" href="/OrderItem/ReadingOne/@item.Id">--></a> 
                    </td>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.BookId
                    </td>
                    <td>
                        @item.OrderId
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                </tr>
            }
        </tbody>
    </table>
</aside>
