@model List<Bll.ShippingMethod>
@{
}


<aside >
    <table>
        <thead>
            <tr>
                <th>
                    Select
                </th>
                <th>
                    Id
                </th>
                <th>
                    Naam
                </th>
                <th>
                    Beschrijving
                </th>
                <th>
                    Prijs
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="select" href="/ShippingMethod/ReadingOne/@item.Id">--></a> 
                    </td>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.Price
                    </td>
                </tr>
            }
        </tbody>
    </table>
</aside>


