<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BiblioAdmin</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="application-name" content="Biblio webwinkel">
    <meta name="description" content="Verkoop tweedehandsboeken">
    <meta name="keywords" content="boeken, books, tweedehands">
    <meta name="author" content="Tim Janssens">
</head>
<body>
    <div class="centerContainer">
        <div class="content-wrap">
            <header class="head">
                <a class="logo" asp-area="" asp-page="/Index">
                    <img src="~/img/logobookshelf.jpg" alt="BiblioShopLogo" />
                </a>
                <nav class="horizontal-nav">
                    @*<a asp-area="" asp-page="/Index">Home</a>*@
                    <a asp-area="" asp-page="/Book/Index">Book</a>
                    <a asp-area="" asp-page="/Customer/Index">Customer</a>
                    <a asp-area="" asp-page="/OrderStatus/Index">Order Status</a>
                    <a asp-area="" asp-page="/ShippingMethod/Index">Shipping Method</a>
                    <a asp-area="" asp-page="/Order/Index">Order</a>
                    <a asp-area="" asp-page="/OrderItem/Index">Order Item</a>
                </nav>
            </header>

            <main>
                @RenderBody()
            </main>


            <footer>
                <div>
                    &copy; 2020 - BiblioAdmin
                </div>
            </footer>

            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>

            @RenderSection("Scripts", required: false)
        </div>
    </div>
</body>
</html>
