@page
@model BiblioAdmin.Pages.OrderStatus.IndexModel
@{
}

<section>
    <h1>Order Status</h1>

    <a href="/OrderStatus/InsertingOne" class="tile">
        <span class="icon-plus"></span>
        <span class="screen-reader-text">Inserting One</span>
    </a>
</section>

<partial name="OrderStatus/_ReadingAll" model="Model.OrderStatusList" />