@page
@model BiblioAdmin.Pages.OrderStatus.IndexModel
@{
    ViewData["Title"] = "Orderstatus - Index";
}


<section>
    <div class="navSection">
        <h1>Order status Overview</h1>

        <a href="/OrderStatus/InsertingOne" class="linkAsButton">
            Insert Orderstatus
        </a>
    </div>
</section>

<partial name="OrderStatus/_ReadingAll" model="Model.OrderStatusList" />