@page
@model BiblioAdmin.Pages.OrderStatus.InsertingOneModel
@{
}


<h3>Inserting OrderStatus</h3>
<hr />
<br />
<form method="post">
    <fieldset>
        <div>
            <label asp-for="OrderStatus.Name"></label>
            <input asp-for="OrderStatus.Name" required = "required" />
            <span class="alert-danger" asp-validation-for="OrderStatus.Name"></span>
        </div>
        <div>
            <label asp-for="OrderStatus.Description"></label>
            <textarea asp-for="OrderStatus.Description"></textarea>
        </div>
    </fieldset>
    <div>
        <button type="submit" value="Insert" asp-page-handler="Insert">Insert</button>
    </div>
</form>

<partial name="OrderStatus/_ReadingAll" model="Model.OrderStatusList" />