@page "{id}"
@model BiblioAdmin.Pages.OrderStatus.UpdatingOneModel
@{
    ViewData["Title"] = "Orderstatus - Update";
}

<section>
    <div class="navSection">
        <h1>Update order status</h1>
        <div class="linksNavigatie">
            <button form="updateOrderStatus" type="submit" value="Update" asp-page-handler="Update">Update</button>
            <a class="linkAsButton" href="/OrderStatus/Index">
                Cancel
            </a>
        </div>
    </div>
    <form method="post" id="updateOrderStatus">
        <fieldset>
            <div class="row">
                <div class="col-25">
                    <label asp-for="OrderStatus.Name">Naam  *</label>
                </div>
                <div class="col-75">
                    <input asp-for="OrderStatus.Name" required="required" />
                    <span class="alert-danger" asp-validation-for="OrderStatus.Name"></span>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-25">
                        <label asp-for="OrderStatus.Description">Beschrijving</label>
                    </div>
                    <div class="col-75">
                        <textarea asp-for="OrderStatus.Description"></textarea>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
</section>
<partial name="OrderStatus/_ReadingAll" model="Model.OrderStatusList" />