@page
@model BiblioAdmin.Pages.OrderItem.IndexModel
@{
}


<h1>Order Item</h1>

<a href="/OrderItem/InsertingOne" class="tile">
    <span class="icon-plus"></span>
    <span class="screen-reader-text">Inserting One</span>
</a>

<partial name="OrderItem/_ReadingAll" model="Model.OrderItemList" />