@page
@model BiblioAdmin.Pages.OrderItem.IndexModel
@{
    ViewData["Title"] = "OrderItem - Index";
}

<section>
    <div class="navSection">
        <h1>Order item Overview</h1>

        <a href="/OrderItem/InsertingOne" class="linkAsButton">
            Insert order item
        </a>
    </div>
</section>
<partial name="OrderItem/_ReadingAll" model="Model.OrderItemList" />