@page
@model BiblioAdmin.Pages.OrderItem.InsertingOneModel
@{
}

<section>
    <div class="navSection">
        <h1>Insert book</h1>
        <div class="linksNavigatie">
            <button form="inputOrderItem" type="submit" value="Insert" asp-page-handler="Insert">Insert</button>
            <a class="linkAsButton" href="/OrderItem/Index">
                Cancel
            </a>
        </div>
    </div>
    <form method="post" id="inputOrderItem">
        <fieldset>
            <div class="row">
                <div class="col-25">
                    <label asp-for="OrderItem.BookId">Titel</label>
                </div>
                <div class="col-75">
                    <select id="OrderItem_BookId" name="OrderItem.BookId">
                        @foreach (var item in Model.BookList)
                        {
                            <option value="@item.Id">@item.Title</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="OrderItem.OrderId">Order id</label>
                </div>
                <div class="col-75">
                    @*<input asp-for="OrderItem.OrderId" />*@
                    <select id="OrderItem_OrderId" name="OrderItem.OrderId">
                        @foreach (var item in Model.OrderItemList)
                        {
                            <option value="@item.OrderId">@item.OrderId</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="OrderItem.Quantity">Hoeveelheid</label>
                </div>
                <div class="col-75">
                    <input asp-for="OrderItem.Quantity" />
                </div>
            </div>
        </fieldset>
    </form>
</section>
<partial name="OrderItem/_ReadingAll" model="Model.OrderItemList" />