@page "{id}"
@model BiblioAdmin.Pages.OrderItem.UpdatingOneModel
@{
}


<h3>Updating OrderStatus</h3>
<hr />
<br />
<form method="post">
    <fieldset>
        <div>
            <label asp-for="OrderItem.BookId">Titel</label>
            <select id="OrderItem_BookId" name="OrderItem.BookId">
                @foreach (var item in Model.BookList)
                {
                    <option value="@item.Id">@item.Title</option>
                }
            </select>
        </div>
        <div>
            <label asp-for="OrderItem.BookId"></label>
            <input asp-for="OrderItem.BookId" />
            <span class="alert-danger" asp-validation-for="OrderItem.BookId"></span>
        </div>
        <div>
            <label asp-for="OrderItem.OrderId"></label>
            <input asp-for="OrderItem.OrderId" />
            <span class="alert-danger" asp-validation-for="OrderItem.OrderId"></span>
        </div>
        <div>
            <label asp-for="OrderItem.Quantity"></label>
            <input asp-for="OrderItem.Quantity" />
            <span class="alert-danger" asp-validation-for="OrderItem.Quantity"></span>
        </div>
    </fieldset>
    <div>
        <button type="submit" value="Update" asp-page-handler="Update">Update</button>
    </div>
</form>

<partial name="OrderItem/_ReadingAll" model="Model.OrderItemList" />