@page
@model BiblioAdmin.Pages.Order.IndexModel
@{
    ViewData["Title"] = "Order - Index";
}

<section>
    <div class="navSection">
        <h1>Order Overview</h1>
        <a href="/Order/InsertingOne" class="linkAsButton">
            Insert order
        </a>
    </div>
</section>
<partial name="Order/_ReadingAll" model="Model.OrderList" />